In [69]:
import pandas as pd
import numpy as np

In [162]:
with open('day4.input', 'r') as file:
    letter_list = []
    for line in file:
        letter_list.append(list(line.strip()))
    df_xmas = (pd.DataFrame(letter_list))

df_xmas.head()

,0,1,2,3,4,5,6,7,8,9,...,130,131,132,133,134,135,136,137,138,139
0,M,A,M,A,M,A,S,X,X,X,...,S,S,S,X,M,X,S,A,M,X
1,M,S,M,M,M,M,S,X,A,A,...,A,A,X,X,S,A,S,A,A,X
2,X,A,A,X,M,A,M,M,S,M,...,M,M,M,M,M,A,S,M,M,S
3,S,S,X,M,M,A,X,A,A,X,...,A,X,A,S,M,M,M,M,A,X
4,X,X,A,S,M,S,S,S,M,M,...,M,S,M,S,X,X,A,M,X,M

In [163]:
X_locations = list(zip(*df_xmas.isin(['X']).to_numpy().nonzero()))
M_locations = list(zip(*df_xmas.isin(['M']).to_numpy().nonzero()))
A_locations = list(zip(*df_xmas.isin(['A']).to_numpy().nonzero()))
S_locations = list(zip(*df_xmas.isin(['S']).to_numpy().nonzero()))
xmas_count = 0
for X_loc in X_locations:
    x,y = X_loc
    hor_fw = [(x,y), (x,y+1), (x,y+2), (x,y+3)]
    hor_rv = [(x,y), (x,y-1), (x,y-2), (x,y-3)]
    ver_fw = [(x,y), (x+1,y), (x+2,y), (x+3,y)]
    ver_rv = [(x,y), (x-1,y), (x-2,y), (x-3,y)]
    diaup_fw = [(x,y), (x+1,y+1), (x+2,y+2), (x+3,y+3)]
    diaup_rv = [(x,y), (x-1,y-1), (x-2,y-2), (x-3,y-3)]
    diad_fw = [(x,y), (x+1,y-1), (x+2,y-2), (x+3,y-3)]
    diad_rv = [(x,y), (x-1,y+1), (x-2,y+2), (x-3,y+3)]
    search_vectors = [hor_fw,hor_rv,ver_fw,ver_rv,diaup_fw,diaup_rv,diad_fw,diad_rv]
    for vec in search_vectors:
        if vec[1] in M_locations:
            if vec[2] in A_locations:
                if vec[3] in S_locations:
                    xmas_count += 1
print (xmas_count)

2468

In [166]:
A_locations = list(zip(*df_xmas.iloc[1:-1,1:-1].isin(['A']).to_numpy().nonzero()))

mas_count = 0
for A_loc in A_locations:
    x,y = A_loc
    x,y = x+1,y+1
    MandS1 = [df_xmas.iloc[x-1,y+1], df_xmas.iloc[x+1,y-1]]
    MandS2 = [df_xmas.iloc[x-1,y-1], df_xmas.iloc[x+1,y+1]]
    if ('M' in MandS1) and ('S' in MandS1):
        if ('M' in MandS2) and ('S' in MandS2):
            mas_count += 1

print (mas_count)

1864